@using Resource = Resources.Areas.Administration.Problems.Views.EditorTemplates.SubmissionTypeViewModel;
@using SharedResource = Resources.Areas.Administration.Problems.Views.Partials.ProblemsPartials;

@model OJS.Web.Areas.Administration.ViewModels.SubmissionType.SubmissionTypeViewModel

<div class="row">
    <div class="editor-label col-xs-3">
        <div class="pull-right">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.ExecutionStrategyType)
            @Html.LabelFor(m => m.IsChecked, Model.Name, new{ @Id = $"Label_for_SubmissionTypes_{Model.Name}__IsChecked"})
        </div>
    </div>
    <div class="editor-field col-xs-1">
        @Html.EditorFor(m => m.IsChecked, new { @class = "form-control pull-left full-editor" })
    </div>

    <div class="editor-field col-xs-1">
        <span class="glyphicon glyphicon-question-sign text-primary" title="@string.Format("{0} {1}", Resource.Allow_submission, Model.Name)" data-tooltip="true"></span>
    </div>
</div>
@if (Model.IsChecked)
{
    <div class="row" style="margin-bottom: 2rem">
        <div class="editor-label col-xs-1">
            <div class="pull-right">
                @Html.LabelFor(m => m.SolutionSkeleton)
            </div>
        </div>
        <div class="editor-field col-xs-6">
            @Html.EditorFor(m => m.SolutionSkeleton, new { @class = "form-control pull-left full-editor" })
        </div>
        <div class="editor-field col-xs-3">
            @Html.LabelFor(m => m.TimeLimit)
        </div>
        <div class="editor-field col-xs-1" style="margin-bottom: 5px">
            @Html.TextBoxFor(m => m.TimeLimit, new { @class = "pull-right" })
        </div>
        <div class="editor-field col-xs-3">
            @Html.LabelFor(m => m.MemoryLimit)
        </div>
        <div class="editor-field col-xs-1">
            @Html.TextBoxFor(m => m.MemoryLimit, new { @class = "pull-right" })
        </div>
        <div class="editor-field col-xs-3">
            @Html.LabelFor(m => m.WorkerType)
        </div>
        <div class="editor-field col-xs-1">
            @(Html.Kendo()
                .DropDownListFor(m => m.WorkerType)
                .Events(e=>e.DataBound("setDefaultWorkerForCheckedSubmissionTypes"))
                .HtmlAttributes(new { @class = "pull-right" })
                .BindTo(ViewBag.WorkerTypes))
        </div>
        <div class="editor-field col-xs-5">
            <span class="glyphicon glyphicon-question-sign text-primary" title="@SharedResource.Enter_solution_details" data-tooltip="true"></span>
            @Html.ValidationMessageFor(m => m.SolutionSkeleton)
        </div>
        <div class="editor-field col-xs-5">
            @Html.ValidationMessageFor(m => m.TimeLimit)
        </div>
        <div class="editor-field col-xs-5">
            @Html.ValidationMessageFor(m => m.MemoryLimit)
        </div>
    </div>
}

<script>
    function setDefaultWorkerForCheckedSubmissionTypes ()
    {
        var defaultWorkerType = @Html.Raw(Json.Encode(Model.WorkerType));
        console.log(defaultWorkerType);
        var currentId = @Html.Raw(Json.Encode(@ViewData.TemplateInfo.HtmlFieldPrefix).Replace("[", "_").Replace("]", "__"));
       var data = $(`#${currentId}WorkerType`).data();
        data.value = defaultWorkerType;
    }
    window.workerTypesData = @Html.Raw(Json.Encode(ViewBag.WorkerTypes));
</script>