@using Resource = OJS.Common.Resources.CopyProblem
@using SharedResource = OJS.Common.Resources.Partials

@model OJS.Servers.Administration.Models.Problems.CopyToAnotherContestViewModel

<h2>Copy Problem "@Model.FromProblemName" from the contest "@Model.FromContestName" into another contest</h2>

<form asp-action="Copy" asp-controller="Problems" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FromContestId)
    @Html.HiddenFor(m => m.FromProblemId)

    <div class="form-group">
        @Html.LabelFor(m => m.ToContestId)
        <br/>
        <select id="contest-id" name="@nameof(Model.ToContestId)" asp-items="@Model.ContestsToCopyTo">
            <option value="null">--Select Contest--</option>
        </select>
        <br/>
        @Html.ValidationMessageFor(m => m.ToContestId)

        @Html.LabelFor(m => m.ToProblemGroupId)
        <br/>
        <select id="problem-group-id" name="@nameof(Model.ToProblemGroupId)" asp-items="@Model.ProblemGroupsToCopyTo">
            <option value="0">@Resource.Problem_group_placeholder</option>
        </select>
    </div>

    <button class="btn btn-primary">@SharedResource.Copy</button>
    <a href="@ViewContext.GetReturnUrl()" class="btn btn-secondary">@SharedResource.Back</a>
</form>

<script type="text/javascript">
    $(function () {
        $("#contest-id").select2();
        $("#problem-group-id").select2();
    });
</script>
