@model OJS.Servers.Administration.Models.Problems.DeleteAllProblemsInContestViewModel;

@using Resource = OJS.Common.Resources.ProblemsDeleteAll
@using SharedResource = OJS.Common.Resources.Partials

@{
    ViewBag.Title = Resource.PageTitle;
}

<h2>@Model.Name</h2>
<h3>@ViewBag.Title</h3>

<form asp-action="DeleteAll" asp-controller="Problems" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <p>
        @Resource.ConfirmMessage @Model.Name?
    </p>
    <button class="btn btn-primary">@Resource.Confirm</button>
    <a href="@ViewContext.GetReturnUrl()" class="btn btn-secondary">@SharedResource.Back</a>
</form>
