@using Resource = OJS.Common.Resources.ProblemsRetest;
@using SharedResource = OJS.Common.Resources.ContestsGeneral;
@using OJS.Servers.Administration.Models.Problems

@model ProblemRetestViewModel

@{
    ViewBag.Title = Resource.Retest;
}

<h1 class="text-danger">&nbsp;<span class="glyphicon glyphicon-warning-sign"></span> @ViewBag.Title</h1>
<p><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;<strong>@Model?.ContestName</strong></p>
<div class="container ">
    <form method="post" asp-action="Retest" asp-controller="Problems">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.ContestId)

        <div class="alert">
            <p>@Html.Raw(string.Format(Resource.RetestConfirmationMessage, Model?.SubmissionsCount, Model?.Name))</p>
        </div>
        <button class="btn btn-primary" onclick="this.disabled = true; this.form.submit();">@Resource.Retest</button>
        <a href="@ViewContext.GetReturnUrl()" class="btn btn-primary">@SharedResource.Cancel</a>
    </form>
</div>