@using OJS.Web.Areas.Administration.Controllers
@using OJS.Web.Areas.Administration.ViewModels.User

@using SharedResource = Resources.Areas.Administration.AdministrationGeneral;

@model UserProfileDeleteViewModel

@{
    ViewBag.Title = $"Delete user {Model.Username}";
    var returnUrl = Url.Action("Index", "Home");
}

<h1 class="text-danger">&nbsp;<span class="glyphicon glyphicon-warning-sign"></span> @ViewBag.Title</h1>
<div class="container ">
    @using (Html.BeginForm<UsersController>(c => c.Delete((UserProfileDeleteViewModel)null), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(u => u.Id)

        <div class="alert" style="font-size: 2em">
            <p>Are you sure you want to delete profile?</p>
            <p><b>Username: @Model.Username</b></p>
            <p><b>Email: @Model.Email</b></p>
            <p>This will delete the user and all its related information, including submissions, scores and participations in contests.</p>
            <p class="text-danger">The action cannot be reverted!!!</p>
        </div>

        <div class="row">
            <div class="editor-label col-xs-3">
                <div class="pull-right">
                    @Html.LabelFor(m => m.InitiatorUsername)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.EditorFor(m => m.InitiatorUsername, new { @class = "form-control pull-left full-editor" })
            </div>
            <div class="editor-field col-xs-4">
                @Html.ValidationMessageFor(m => m.InitiatorUsername)
            </div>
        </div>
        <br />
        <div class="editor-label">
            <div>
                <input type="submit" class="btn btn-danger pull-left" value="@SharedResource.Delete" disabled onclick="this.disabled = true; this.form.submit();" />
            </div>
            <div class="col-xs-4">
                <a href=@returnUrl class="btn btn-primary">@SharedResource.Cancel</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {
            // Attach an event listener to the initiator username input field.
            $('#InitiatorUsername').on('input', function () {
                var enteredUsername = $(this).val().trim();
                var deleteButton = $("input[type='submit'].btn-danger");

                // Enable the delete button only when the initiator has entered username.
                if (enteredUsername) {
                    deleteButton.prop('disabled', false);
                } else {
                    deleteButton.prop('disabled', true);
                }
            });
        })
    </script>
}