@using OJS.Common.Extensions
@using Resource = Resources.Submissions.Views.AdvancedSubmissions
@using StatisticsResource = Resources.Statistics.Views.StatisticsIndex

@{
    if (User.IsAdmin() || User.IsLecturer())
    {
        ViewBag.Title = Resource.Page_title;
    }
    else
    {
        ViewBag.Title = string.Format(
            Resource.Page_title_for_regular_user,
            WebConstants.AdvancedSubmissionsGridPageSize,
            ((int)ViewBag.TotalSubsmissionsCount).ToSeparatedString(" "));
    }
}

@section Styles{
    @Styles.Render("~/Content/css/statistics/index/statistics.css")
}

<script src="/Scripts/Helpers/test-results.js"></script>

<ol class="breadcrumb">
    <li><a href="/">@Resource.Breadcrumb_home</a></li>
    <li class="active">@Resource.Breadcrumb_submissions</li>
</ol>

<h1>@ViewBag.Title</h1>

@if (User.IsAdmin())
{
    <div class="row">
        <div class="col-md-10">
            <h4>
                Решения в опашката: @ViewBag.SubmissionsInQueue
                (@Ajax.ActionLink(
                  "Покажи решенията в опашката",
                  "GetSubmissionsGrid",
                  new { notProcessedOnly = true },
                  new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "submissions-container" }) /
                @Ajax.ActionLink(
                    "Покажи всички решения",
                    "GetSubmissionsGrid",
                    new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "submissions-container" }))
            </h4>
        </div>
        <div class="col-md-2 bottom-buffer">
            @using (Html.BeginForm("StartOjsLocalWorkerService", "Submissions", FormMethod.Post, new { @class = "pull-right" }))
            {
                @Html.AntiForgeryToken()

                <input type="submit" class="btn btn-primary" value="Рестартирай сървиса" />
            }
        </div>
    </div>
}

<div id="submissions-container">
    @Html.Action("GetSubmissionsGrid")
</div>

<br />
<div class="wide">
    @(Html.Kendo().Chart<OJS.Web.ViewModels.Statistics.SubmissionsStatisticsViewModel>()
        .Name("chart")
        .Title(StatisticsResource.Submissions_count_per_month_title)
        .SeriesColors("#5DADE2")
        .Legend(legend => legend
            .Visible(false)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
        )
        .Series(series => {
            series
                .Column(model => model.TotalSubmissionsCount)
                .Name(StatisticsResource.Total_submissions);
        })
        .CategoryAxis(axis => axis
            .Categories(model => model.Month)
            .MajorGridLines(lines => lines.Visible(true))
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Line(line => line.Visible(false))
            .MajorGridLines(lines => lines.Visible(true))
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Color("#FFF")
            .Template("#= series.name #: #= value #")
        )
        .DataSource(dataSource => dataSource
            .ServerOperation(true)
            .Read(read => read
                .Type(HttpVerbs.Post)
                .Action(
                    "GetLatestTwelveMonthSubmissionsCount",
                    "Statistics")
            )
        )
    )
</div>
