@using SharedResource = OJS.Common.Resources.Partials
@using OJS.Common.Enumerations
@model OJS.Services.Administration.Models.Submissions.DownloadSubmissionsModel

<form method="post" asp-controller="ContestsExport" asp-action="Solutions">
    <input hidden asp-for="ContestId" value="@Model?.ContestId">
    <div class="modal-body">
        @foreach (var exportType in Enum.GetValues<ContestExportResultType>())
        {
            <input type="radio" asp-for="ContestExportResultType" value="@exportType"/>@exportType.ToString()<br/>
        }
        <select asp-for="SubmissionExportType" asp-items="Html.GetEnumSelectList<SubmissionExportType>()">Please select a submissions export type</select>
        @Html.ValidationMessageFor(x => x.SubmissionExportType)
    </div>
    <br/>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Download</button>
    </div>
    <a href="@ViewContext.GetReturnUrl()" class="btn btn-secondary">@SharedResource.Back</a>
</form>